* {
  text-align: center;
  vertical-align: center;
  margin: auto 0;
  padding: 10px;
}
h1 {
  padding: 10px;
  margin-top: 5rem;
}
input {
  padding: 5px;
}
ul {
  padding: 10px;
  margin: auto;
  margin-top: 2rem;
  width: 25vw;
  background-color: rgb(225,225,225);
  border-radius: 25px;
}
li {
  list-style-type: none;
  margin-top: 5px;
  /* min-width: 35vw; */
  /* display: inline-block; */
}
#inputForm {
  height: 2rem;
  padding: 0px;
}